<div class="jumbotron" style="background:url(/IMG_0003.JPG); background-size:cover;">
  <div class="container-fluid">
    <h1 style="color: #ffffff;">やまぐちの行きたいねを見つけよう!!</h1>
    <p class="text-white">サブタイトル</p>
  </div>
</div>

<%= render 'posts', posts: @posts %>
