//.nav-tabs {
//    background-color: #FFD400;
//}
//.nav-pills {
//    background-color: #FFD400; 
//}
.li.nav-item {
    background-color: #FFD400;
}
.nav-link.show.active {
    //background-color: #FFFFFF;
    background-color: #FFD400;
}

.like-btn {
 width: 25px;
 height: 28px;
 font-size: 20px;
 color: #FF0000;
 }

.unlike-btn {
 width: 25px;
 height: 28px;
 font-size: 20px;
 color: #999999;
 }
 
 img#pic {
  max-width: 100%;
  height: auto;
}